/node_modules
/.pnp
/.pnp.js

/coverage

/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debud.log*
yarn-error.log*


/frontend1/node_modules
/frontend1/.pnp
/frontend1/.pnp.js

/frontend1/coverage

/frontend1/build

/frontend1/.DS_Store
/frontend1/.env.local
/frontend1/.env.development.local
/frontend1/.env.test.local
/frontend1/.env.production.local

npm-debug.log*
yarn-debud.log*
yarn-error.log*