.banner-content {
    color: black;
    font-family: "Krona One";
    font-size: 30px !important;
    line-height: 36px !important;
    margin-bottom: 40px !important;
}

.banner-main {
    margin: 0 auto;
    display: flex !important;
    margin-bottom: 40px !important;
    align-items: center !important;
    overflow: hidden !important;
    position: relative;
    bottom: 226px;
    /* background-color: ; */
}

.banner-image {
    position: relative !important;
}

.banner-image img {
    height: 50%;
    width: 50%;
    position: relative;
    margin-left: 24rem;
    left: 80px;
}

.banner-cont {
    position: relative;
    width: 36%;
    right: 302px;
    top: 341px;
}
